.stockists #maincontent,
.stockists .page-wrapper{
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: none;
}
.stockists .page-title-wrapper{
    text-align: center;
}
#map-canvas {
  height: 100%;
  min-height: 800px;
}

.stockists-index-index .main-container .main, .stockists-index-index .main-container .main .row {
    max-width: none !important;
}

.stockists-index-index .main-container .main .row {
    padding: 0 !important;
}

.stockists-window {
    padding: 20px 15px;
}
.stockists-window p {
    font-size: 15px;
    font-family: "Times New Roman", Times, serif;
}
.stockists-window .stockists-title {
    color: #081c2a;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.stockists-window .stockists-telephone {
    margin-bottom: 0;
}

.directions-panel,
.search-stockists {
    background: #ffffff;
    top: 355px;
    position: absolute;
    width: 285px;
    height: 464px;
    padding: 20px 17px 20px 15px;
}
.directions-panel{
	left:100px;
	display: none;
}
.search-stockists{
    right: 100px;
}
.search-stockists.close-up {
    height: 250px;
}
.search-stockists .search-title {
    font-size: 24px;
    margin-bottom: 19px;
    font-family: "Times New Roman", Times, serif;
    color: #081c2a;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.search-stockists p {
    font-size: 15px;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 0;
}
.search-stockists .search-header p {
    margin-bottom: 12px;
}
.search-stockists .results-title {
    color: #081c2a;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.3px;
}
.search-stockists .stockists-results {
    overflow-y: scroll;
    height: 315px;
    margin-top: 15px;
}
.search-stockists .results-word {
    padding-left: 5px;
    font-size: 14px;
}

.results-store.grenson {
    display: none;
}
.stockists-intro {
    display: block;
}
#stockist-search-term {
    display: inline-block;
    height: 40px;
    padding-left: 10px;
    width: 184px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
}
#stockists-submit {
    display: inline-block;
    margin-left: 0px;
    background: #081c2a;
    border: none;
    font-size: 15px;
    padding: 12px 10px;
    top: -2px;
    position: relative;
    letter-spacing: 0.3px;
    color: white;
    border-radius: 0;
}

.search-header {
    padding-left: 5px;
}

.results-content {
    cursor: pointer;
    width: 93%;
    padding: 5px 10px 5px 5px;
    margin-bottom: 10px;
}
.results-content p:not(.results-title) {
    padding-bottom: 0;
    font-size: 12px;
    font-weight: normal;
}
.results-content.active {
    background: #f5f5f5;
}

#grenson-stores {
    display: none;
}
.underline {
    text-decoration: underline;
}

.directions-panel ::-webkit-scrollbar,
.search-stockists ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.directions-panel ::-webkit-scrollbar-thumb,
.search-stockists ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.geocode-location{
	display: inline-block;
	background: url('../images/location.svg') no-repeat;
	width: 30px;
	height: 30px;
	cursor: pointer;
	position: relative;
	top: 9px;
	left: 15px;
	cursor: pointer;
}
.ask-for-directions{
	cursor: pointer;
}