<?xml version="1.0"?>
<!--
/**
 * Limesharp_Stockists extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 *
 * @category  Limesharp
 * @package   Limesharp_Stockists
 * @copyright 2016 Claudiu Creanga
 * @license   http://opensource.org/licenses/mit-license.php MIT License
 * @author    Claudiu Creanga
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <limesharp_stockists>
            <stores>
                <breadcrumbs>1</breadcrumbs>
                <meta_title>Stockists</meta_title>
                <meta_description>Stockists Description Here</meta_description>
                <meta_keywords>Stockists Keywords Here</meta_keywords>
                <list_url>Stockists</list_url>
                <url_prefix>stockists</url_prefix>
                <url_suffix>html</url_suffix>
                <rss>1</rss>
                <rss_cache>600</rss_cache>
            </stores>
        </limesharp_stockists>
    </default>
</config>
