@font-face {
    font-family: 'Pacifico';
    src: url('pacifico.eot');
    src: url('pacifico.eot?#iefix') format('embedded-opentype'), url('pacifico.woff') format('woff'), url('pacifico.ttf') format('truetype'), url('pacifico.svg#Pacifico') format('svg');
}
#disqus_thread {
    margin-top: 20px;
}
* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.blue {
    background: #3498db;
    color: #fff;
}
.blue h3 {
    background: #fff;
    color: #3498db;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
}
.variable-width .slick-slide p {
    background: #fff;
    height: 100px;
    color: #3498db;
    margin: 5px;
    line-height: 100px;
}
.button {
    background: #3498db;
    color: #fff;
    display: block;
    font-size: 16px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    width: 48%;
}
.buttons {
    padding: 0 20px 20px;
    margin-bottom: 10px;
}
.buttons .button {
    background: #FFF;
    color: #3498db;
    float: left;
    margin: 5px;
}
.center .slick-center h3 {
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
    -webkit-transform: scale(1.08);
    color: #e67e22;
    opacity: 1;
    transform: scale(1.08);
}
.center h3 {
    opacity: 0.8;
    transition: all 300ms ease;
}
.content {
    margin: auto;
    padding: 20px;
    width: 600px;
}
#demo .content{
    width: 960px;
}
.content:after,
.buttons::after {
    clear: both;
    content: "";
    display: table;
}
.destroy {
    font-weight: 400;
    margin-top: 40px;
}
.features {
    display: block;
    margin-top: 30px;
    padding: 0;
}
.features li {
    margin: 20px 0;
}
.filter .button {
    background: #FFF;
    color: #3498db;
    margin-bottom: 40px;
}
.fixed-header {
    background: #FFF;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    display: none;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
.fixed-header .header-content {
    margin: auto;
    width: 600px;
}
.fixed-header .subheading {
    display: none;
}
.fixed-header h1.title {
    float: left;
    font-size: 24px;
    margin: 0;
}
.fixed-header ul.nav {
    float: right;
    margin: 0;
    padding: 5px;
}
.fixed-header ul.nav li {
    margin: 0 0 0 10px;
}
.header {
    padding: 20px 0;
}
.margin-40 {
    margin-bottom: 40px;
}
.more,
.button.first {
    margin-top: 40px;
}
.red {
    background: #e74c3c;
    color: #fff;
}
.slick-slide .image {
    padding: 10px;
}
.slick-slide img {
    border: 5px solid #FFF;
    display: block;
    width: 100%;
}
.slick-slide img.slick-loading {
    border: 0
}
.slick-slider {
    margin: 30px auto 50px;
}
.subheading {
    color: #555;
    font-size: 17px;
    font-style: italic;
    font-weight: 400;
    margin: 10px auto;
    text-align: center;
}
.white {
    background: #fff;
    color: #3498db;
}
.white pre,
.white hr {
    background: #3498db !important;
}
a {
    color: white;
}
.nav a {
    color: #3498db;
}
body,
html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background: #fff;
    font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    height: 100%;
    line-height: 1;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    width: 100%;
}
code {
    color: #000;
    overflow-x: scroll;
}
h1 {
    color: #3498db;
    font-family: Pacifico;
    font-size: 72px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 auto 10px;
    text-align: center;
}
h1.title {
    font-size: 96px;
}
h2 {
    font-family: Pacifico;
    font-size: 36px;
    margin: 20px auto;
    text-align: center;
}
h4 {
    font-family: Pacifico;
    font-size: 28px;
    margin: 20px auto;
    text-align: center;
}
hr {
    background: #fff;
    border: 0;
    height: 1px;
    margin: 40px 0;
}
p {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 40px;
    text-align: center;
}
p.note {
    font-size: 12px;
}
p.cdn {
    font-size: 14px;
}
p.guff {
    font-size: 16px;
}
pre {
    background: #fff;
    margin: 0 10px 20px;
    padding: 10px;
}
section {
    width: 100%;
    position: relative;
}
table {
    font-size: 14px;
    line-height: 18px;
    margin: 40px auto 20px;
    display: block;
}
tr {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #fff;
    margin: 0px 0px 20px;
    padding: 0px 0px 20px;
    background: transparent;
    float: left;
}
thead {
    display: none;
}
td {
    border: 0;
    padding: 10px 0px;
}
td,
tbody {
    display: block;
    width: 100% !important;
}
table.settings td:nth-of-type(1),
table.methods td:nth-of-type(1) {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
}
ul.nav {
    margin-bottom: 0;
    padding-left: 0;
    text-align: center;
}
ul.nav li {
    display: inline-block;
    list-style-type: none;
    margin: 0 20px;
}
ul.nav li a {
    font-size: 14px;
    text-decoration: none;
}
#carbonads {
    max-width: 320px;
    width: 100%;
    color: white;
    background: white;
    padding: 20px 20px 20px;
    margin: 0px auto 40px;
    text-align: center;
    position: relative;
    top: 40px;
}
#carbonads a {
    display: inline-block;
    margin-bottom: 0px;
    font-size: 10px;
    line-height: 1.5;
}
#carbonads .carbon-img {
    margin-bottom: 10px;
}
@media (max-width: 420px) {
    ul.nav li a {
        display: block;
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    .fixed-header {
        display: none !important;
    }
    #carbonads {
        top: 0px;
    }
    .header ul.nav li {
        display: block;
        margin: 20px;
    }
    .blue h3 {
        font-size: 24px;
    }
    .button {
        margin: 0 auto 20px;
        width: auto;
    }
    .button.first {
        margin-top: 40px;
    }
    .buttons {
        padding: 0 0 20px;
    }
    .buttons .button {
        float: left;
        font-size: 12px;
        margin: 1%;
        width: 48%;
    }
    .center {
        margin-left: -40px;
        margin-right: -40px;
    }
    .center .slick-center h3 {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        color: #e67e22;
        opacity: 1;
        transform: scale(1);
    }
    .center h3 {
        -moz-transform: scale(0.95);
        -ms-transform: scale(0.95);
        -o-transform: scale(0.95);
        -webkit-transform: scale(0.95);
        opacity: 0.8;
        transform: scale(0.95);
        transition: all 300ms ease;
    }
    .content {
        margin: auto;
        padding: 20px 40px;
        width: auto;
    }
    .fixed-header .header-content {
        width: auto;
    }
    pre {
        font-size: 12px;
        overflow-x: scroll;
    }
    table {
        font-size: 14px;
        line-height: 18px;
        margin: 40px auto 20px;
        display: block;
        float: left;
    }
    tr {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #fff;
        margin: 0px 0px 20px;
        padding: 0px 0px 20px;
        background: transparent;
        float: left;
    }
    thead {
        display: none;
    }
    td {
        border: 0;
        padding: 10px 0px;
    }
    td,
    tbody {
        display: block;
        width: 100% !important;
    }
    table.settings td:nth-of-type(1),
    table.methods td:nth-of-type(1) {
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
    }
    table.settings td:nth-of-type(2):before {
        content: 'Type: ';
        font-weight: 700;
    }
    table.settings td:nth-of-type(3):before {
        content: 'Default: ';
        font-weight: 700;
    }
    table.methods td:nth-of-type(2):before {
        content: 'Arguments: ';
        font-weight: 700;
    }
}
#demo .features li {
    list-style: none;
    text-align: center;
}
/* Slider */

.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/* Arrows */

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 25%;
    display: block;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}
.slick-prev:before,
.slick-next:before {
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
    left: -50px;
}
[dir='rtl'] .slick-prev {
    right: -50px;
    left: auto;
}
.slick-prev:before {
    content: 'Previous';
}
[dir='rtl'] .slick-prev:before {
    content: 'Previous’';
}
.slick-next {
    right: -50px;
}
[dir='rtl'] .slick-next {
    right: auto;
    left: -50px;
}
.slick-next:before {
    content: 'Next';
}
[dir='rtl'] .slick-next:before {
    content: 'Next';
}
/* Dots */

.slick-slider {
    margin-bottom: 30px;
}
.slick-dots {
    position: absolute;
    bottom: -45px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}
.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}