<?xml version="1.0"?>
<!--
/**
 * Limesharp_Stockists extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 *
 * @category  Limesharp
 * @package   Limesharp_Stockists
 * @copyright 2016 Claudiu Creanga
 * @license   http://opensource.org/licenses/mit-license.php MIT License
 * @author    Claudiu Creanga
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="limesharp_stockists" sortOrder="2000">
            <label>Stockists</label>
        </tab>
        <section id="limesharp_stockists" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Stockists</label>
            <tab>limesharp_stockists</tab>
            <resource>Limesharp_Stockists::stores</resource>
            <group id="stockist" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Stockists</label>
                <field id="breadcrumbs" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Breadcrumbs</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="meta_title" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Stockists list title and meta title</label>
                </field>
                <field id="meta_description" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Stockists list meta description</label>
                </field>
                <field id="meta_keywords" type="textarea" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Stockists list meta keywords</label>
                </field>
                
                <field id="map_style" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Stockists style maps</label>
                    <source_model>Limesharp\Stockists\Model\MapStyles</source_model>
                    <comment>
                        <![CDATA[Popular map styles from snazzymaps]]>
                    </comment>
                    <tooltip>If you want a preview of your styles go to https://snazzymaps.com and select the one you like.</tooltip>
                </field>
                
                <field id="ask_location" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Ask for location</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[On page load ask the user for his location and show the closest store]]>
                    </comment>
                    <tooltip>If this setting is enabled when the user lands on /stockists/ page then it will be asked for his geolocation and then the closest stores to him will appear. The user must have a browser that supports geolocation. Be aware that some browsers, such as chrome, do not support geolocation over unencrypted http.</tooltip>
                </field>
<!--
                <field id="list_url" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Stockists list url</label>
                </field>
                <field id="url_prefix" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Stockists url prefix</label>
                </field>
                <field id="url_suffix" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Stockists url suffix</label>
                </field>
-->
            </group>
        </section>
    </system>
</config>
